<div>
    <md-list layout="row" layout-align="center center" class="ls-action-menu" ng-class="{'ls-closed':!menuOpened}" ng-keydown="keydown($event)">
        <md-item>
            <md-button aria-label="{{::edit.tooltip}}" ng-click="edit.action()" class="md-primary" ng-if="edit.hasPermission" tabindex="1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24px" height="24px">
                    <path d="M403,31H109c-9.9,0-18,8-18,18v414c0,9.9,8.1,18,18,18h294c9.9,0,18-8,18-18V49C421,39.1,412.9,31,403,31z M136,100  c0-5,4-9,9-9h102c5,0,9,4,9,9v19.5c0,5-4,9-9,9H145c-5,0-9-4-9-9V100z M316,322c0,5-4,9-9,9H145c-5,0-9-4-9-9v-19.5c0-5,4-9,9-9h162  c5,0,9,4,9,9V322z M376,254.5c0,5-4,9-9,9H145c-5,0-9-4-9-9V235c0-5,4-9,9-9h222c5,0,9,4,9,9V254.5z M376,187c0,5-4,9-9,9H145  c-5,0-9-4-9-9v-19.5c0-5,4-9,9-9h222c5,0,9,4,9,9V187z"></path>
                </svg>
                <span>{{::edit.label}}</span>
            </md-button>
        </md-item>
        <md-item>
            <md-button aria-label="{{::del.tooltip}}" class="md-warn" ng-click="del.action($event)" ng-if="del.hasPermission" tabindex="2">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 800" width="24px" height="24px">
                    <path d="M498.7,400.5L694.1,205c16.4-16.4,16.4-43.1,0-59.7l-39.8-39.8c-16.4-16.4-43.1-16.4-59.7,0L399.2,301L204.9,106.7  c-16.4-16.4-43.1-16.4-59.7,0l-39.8,39.8c-16.4,16.4-16.4,43.1,0,59.7l194.3,194.3L105.6,594.5c-16.4,16.4-16.4,43.1,0,59.7  l39.8,39.8c16.4,16.4,43.1,16.4,59.7,0L399.2,500l194.5,194.5c16.4,16.4,43.1,16.4,59.7,0l39.8-39.8c16.4-16.4,16.4-43.1,0-59.7  L498.7,400.5z" />
                </svg>
                <span>{{::del.label}}</span>
            </md-button>
        </md-item>
        <md-item>
            <md-button aria-label="{{::red.tooltip}}" ng-click="red.action()" class="md-default ls-red" ng-if="red.hasPermission" tabindex="3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="24px" height="24px">
                    <circle cx="12" cy="12" r="12"></circle>
                </svg>
                <span>{{::red.label}}</span>
            </md-button>
        </md-item>
        <md-item>
            <md-button aria-label="{{::green.tooltip}}" ng-click="green.action()" class="md-default ls-green" ng-if="green.hasPermission" tabindex="4">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="24px" height="24px">
                    <circle cx="12" cy="12" r="12"></circle>
                </svg>
                <span>{{::green.label}}</span>
            </md-button>
        </md-item>
        <md-item>
            <md-button aria-label="{{::blue.tooltip}}" ng-click="blue.action()" class="md-default ls-blue" ng-if="blue.hasPermission" tabindex="5">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="24px" height="24px">
                    <circle cx="12" cy="12" r="12"></circle>
                </svg>
                <span>{{::blue.label}}</span>
            </md-button>
        </md-item>
    </md-list>
    <div class="md-tile-right" ng-show="!menuOpened">
        <md-button data-ng-click="openMenu()" aria-label="click to open action menu" ng-disabled="disabled">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 20" width="24px" height="24px">
                <path d="M0,9h24v2H0V9z M0,0v2h24V0H0z M0,20h24v-2H0V20z" />
            </svg>
        </md-button>
    </div>
</div>
